[submodule "extern/zstd"]
	path = lib/zstd-codec-core/extern/zstd
	url = https://github.com/facebook/zstd
[submodule "src/zstd-codec-node/extern/node-addon-api"]
	path = src/zstd-codec-node/extern/node-addon-api
	url = https://github.com/nodejs/node-addon-api
